.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;

    width: 720px;
    margin: 0 auto 32px;
    padding: 0;

    text-align: center;
}

@media (max-width: 1280px) {
    .lead__title {

    }
}

@media (max-width: 1024px) {
    .lead__title {
        
    }
}

@media (max-width: 768px) {
    .lead__title {
    width: 288px;

    margin-bottom: 16px;
    
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;

    text-align: center;
    }
}